<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=10.90.137.64;Database=team1_test_skip_card;Trusted_Connection=False;UID=1cTeam1;PWD=k&amp;jH32!4qS;"
        providerName="System.Data.SqlClient"/>
    <add name="ConnectionToBase" connectionString ="http://10.90.137.64/ITTeam1/"/>
    <add name = "stockName" connectionString = "Склад ИТ 456"/>
    <add name = "path" connectionString = "C:\Users\Damir Mubarakshin\Documents\Visual Studio 2015\Projects\Module Printer\Module Printer\Sheets\"/>
    <add name = "OrgName" connectionString = "Университет Иннополис"/>
    <add name= "login" connectionString="1cTeam1"/>
    <add name ="password" connectionString="k&amp;jH32!4qS"/>
  </connectionStrings>
</configuration>